<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  
  <!--
  <system.webServer>
    <handlers>
      <add name="Web Demo Script Map" path="*wp" verb="*" type="C:\Users\dagarcma\source\repos\WCFServiceHost\WCFService1\Bin\WCFServiceHost.dll" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="wp Web Connection Handler" path="*.wp" verb="*" type="WestWind.WebConnection.WebConnectionHandler" resourceType="File" preCondition="integratedMode"/>
      <add name="WC Handler" path="*.wc" verb="*" modules="IsapiModule" scriptProcessor="C:\Users\dagarcma\source\repos\WCFServiceHost\WCFService1\Bin\WCFServiceHost.dll" resourceType="Unspecified" preCondition="bitness32"/>
      <add name="WWD Handler" path="*.wwd" verb="*" modules="IsapiModule" scriptProcessor="C:\Users\dagarcma\source\repos\WCFServiceHost\WCFService1\Bin\WCFServiceHost.dll" resourceType="Unspecified" preCondition="bitness32"/>
    </handlers>
  </system.webServer>
  -->
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="WCFServiceHost.ConexionWCF" behaviorConfiguration="mexBehavior" >
        <endpoint contract="WCFServiceHost.IConexionWCF" binding="basicHttpBinding" address="ConexionWCF" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <remove fileExtension=".svc"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>