<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConexionWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49843/ServicioWCF.svc/ConexionWCF"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConexionWCF"
                contract="ServiceReference1.IConexionWCF" name="BasicHttpBinding_IConexionWCF" />
        </client>
    </system.serviceModel>
</configuration>